#cloud-config
hostname: {{ inventory_hostname }}
manage_etc_hosts: true
users:
  - name: {{ env_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    shell: /bin/bash
    lock_passwd: false
    passwd: "{{ env_pass | password_hash('sha512') }}"
ssh_pwauth: true

chpasswd:
  list: |
    {{ env_user }}:{{ env_pass }}
  expire: false

package_update: true
packages:
  - openssh-server
  - netplan.io

runcmd:
  - systemctl enable ssh
  - systemctl restart ssh
  - netplan apply
